body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 28px;
}

header{
	background-color: tomato;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
	font-family: 'Rubik Mono One', sans-serif;
}

h2{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Montserrat', sans-serif;
}

ol{
	font-family: 'Montserrat', sans-serif;
}

ul{
	font-family: 'Montserrat', sans-serif;
}

header h1{
	color: white;
	font-size: 45px;
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 20px 100px 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: tomato;
	margin: 60px 0 20px;
}

a{
	color: salmon;
}
a:hover{
	color: teal;
}

footer{
	background-color: tomato;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

footer a{
	color: white;
}

p.caption{
	color: tomato;
	font-style: italic;
	margin-top: 0;
}












